.container {
  padding: 0 2rem;
 text-align: center;
  display: grid;
  justify-content: center;
  background-color: #db721c;
  
  

}



.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #db721c;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #db721c;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #db721c;
  
}

.title a {
  color: #0070f3;
  text-decoration: none;
  background-color: #db721c;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  background-color: #db721c;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #db721c;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    background-color: #db721c;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
  width: 100%;
   background-color: #db721c;

}

.card {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: center;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 10px solid #10071b;
  border-radius: 10px;
  color: #000;
  
  
  
}



.logo {
  height: 1em;
  margin-left: 0.5rem;
  background-color: #db721c;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    background-color: #db721c;
  }

}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    
    background-color: #db721c;
  }
  .code {
    background: #111;
    background-color: #db721c;
  }
  .logo img {
    filter: invert(1);
    background-color: #db721c;
  }
}

